<html lang="pt-br">
	<head>
		<meta charset="UTF-8"></meta>
		<title>Aleatoriedade 1</title>
		<link rel="stylesheet" href="..\css/style.css">
	</head>
	<body>
		<div>
			<h1>Aleatoriedade 3<h1>
			<h2>Músicas feitas pelo artista Pedro Martins Barbosa fazendo de Intenligencia Artificial</h2>
		</div>
		<h3>João Henrique: A biografia musical - by: Pedro Martins</h3>
		<audio controls>
		  <source src="..\medias/João Henrique_ A biografia musical.mp3" type="audio/mpeg">
		</audio>
		<hr>
		
		<h3>Jei Are o bombermen - by: Pedro Martins</h3>
		<audio controls>
		  <source src="..\medias/Jei Are o bombermen.mp3" type="audio/mpeg">
		</audio>
		<hr>
		
		<h3>Pedro o macaco - by: Pedro Martins</h3>
		<audio controls>
		  <source src="..\medias/Pedro o macaco.mp3" type="audio/mpeg">
		</audio>
		<hr>
		
		<h3>Erick o bananão - by: Pedro Martins</h3>
		<audio controls>
		  <source src="..\medias/Erick o bananão.mp3" type="audio/mpeg">
		</audio>
		<hr>
		
		<h3>Os Quatro Heróis - by: Pedro Martins</h3>
		<audio controls>
		  <source src="..\medias/Os Quatro Heróis.mp3" type="audio/mpeg">
		</audio>
		<hr>
		<p><a href="file:///C:/Users/Pedro%20Martins/Desktop/Pedro%20Martins%20Senai/HTML/PedroNews/index.html#">Voltar</a></p>
	</body>
</html>
