<html lang="pt-br">
	<head>
		<meta charset="UTF-8"></meta>
		<title>Aleatoriedade 1</title>
		<link rel="stylesheet" href="..\css/style.css">
	</head>
	<body>
		<div>
			<h1>Aleatoriedade 1<h1>
			<h2>Vamos falar sobre gatos</h2>
			<img class="media" src="..\images/gato.png"/>
		</div>
		<p>Gatos domésticos são animais ágeis e que podem passar em pequenos espaços. Apresentam grande senso de equilíbrio, ouvem diferentes frequências, têm boa visão periférica e olfato desenvolvido. São carnívoros. Podem ter vários parceiros ao longo do ano.</p>
		<p>Controlo das pragas e proteção do lar: Para além de serem companheiros leais, os gatos são também excelentes caçadores de insetos e roedores. O seu instinto de caça permite-lhes manter a sua casa livre de pragas indesejáveis, proporcionando uma proteção extra para si e para a sua família.</p>
		<p><a href="..\index.html#">Voltar</a></p>
	</body>
</html>