<html lang="pt-br">
	<head>
		<meta charset="UTF-8"></meta>
		<title>Pedro NEWS Biografia</title>
		<link rel="stylesheet" href="..\css/style.css">
	</head>
	<body>
		<div>
			<h1>Pedro Martins Barbosa</h1>
			<h2>E sua história de vida</h2>
		</div>
		
		<p>Pedro Martins Barbosa nasceu em uma pequena cidade no interior de São Paulo chamada Lençóis Paulista, no Brasil, em 30/08/2007. Desde pequeno, Pedro se destacou por sua curiosidade e paixão pelo aprendizado. Era o tipo de criança que adorava desmontar brinquedos para entender como funcionavam e que se perdia nas páginas dos livros que encontrava na biblioteca da escola.</p>

		<p>Seu pai, Rodrigo, era um cordenador da Bracell respeitado na cidade, conhecido por seu trabalho duro e honestidade. Sua mãe, Rosa, era secretaria, e foi ela quem incentivou Pedro a se dedicar aos estudos desde cedo. Pedro tinha uma irmão mais velho, Lucas, que ele protegia com todo o carinho.</p>

		<p>Aos 16 anos, Pedro já era conhecido na escola como um aluno brilhante, especialmente em matemática e física. Ele sonhava em ser Jogador de basqute, inspirado pelo trabalho de seu pai e pela vontade de criar algo que pudesse melhorar a vida das pessoas.</p>

		<p>Além dos estudos, Pedro também se envolvia em atividades extracurriculares. Ele fazia parte do time de basquete da escola, onde jogava como ala-pivô, e também participava de um clube de robótica. No clube, Pedro se destacava, muitas vezes liderando projetos e incentivando os colegas a darem o melhor de si.</p>

		<p>Nos fins de semana, Pedro costumava jogar basquete com o pai na cidade. Foi nessas ocasião que um olheiro de um grande time de basquete o chamou para se tornar um jogador profisional pelo Bauru Basket.</p>
		
		<p>E alguns anos depois quando ele tinha seus 20 anos ele finalmente se torna um jogador da NBA jogando pelo Lakers. Dois anos deopis ele finalmente ganha seu primeiro titulo da NBA e se tonar o MVP e provavelmente o melhor jogador brasileiro que já passou pela NBA, no mesmo ano ele trocaria o Lakers pelo Boston Celtics e no ano seguinte ganharia mais titulo e mais um MVP, durante sua carreia ele ganhou 8 MVPS e 10 titulos da NBA e depois todas as suas vitorias ele se aposentou aos 30 anos.</p>

		<p>Pedro também era muito ligado à sua comunidade depois de sua aposentadoria. Participava de ações sociais na igreja local e sempre estava disposto a ajudar quem precisasse, seja com uma explicação de matemática para um colega ou organizando arrecadações para famílias carentes.</p>

		<p>Apesar de todas as responsabilidades e desafios, Pedro ainda conseguia encontrar tempo para seus hobbies. Ele adorava jogar videogame, especialmente jogos de estratégia, e passava horas assistindo a vídeos sobre ciência e tecnologia no YouTube. O rapaz tinha uma curiosidade insaciável e estava sempre em busca de novos conhecimentos.</p>
		
		<p>Pedro Martins Barbosa falece aos 120 anos depois de uma vida cheias de sonhos realizados e muitas felicidades.</p>
		
		<hr>
		<p><a href="..\index.html#">Voltar</a></p>
	</body>
</html>